.boots {
    position: relative;
}

.boots-title {
    position: absolute;
    top: 125px;
    left: 50px;
    font-size: 75px;
    color: #fff;
}

.reset-btn {
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 10px;
}